---
import Base from "../../layouts/Main.astro"

const allPosts = await Astro.glob('./*.md');
---

<Base>
<main>
  <h2>Liste des articles</h2>
      <ul>
        {
            allPosts.map((post) => (
                <li>
                    <a href={`${post.url}/`}>{post.frontmatter.title}</a>
                </li>
            ))
        }
      </ul>
  </main>
</Base>

<style>
    main{
        padding: 50px 10px;
    }
    a{
        text-decoration: none;
        color: bleu;
    }
    ul{
        padding : 20px;
        list-style-type: none;

    }
</style>