---
import Base from "../../layouts/Main.astro"

const allPosts = await Astro.glob('./*.md');
---

<Base>
  <h2>Liste des articles</h2>
      <ul class="list-cards">
        {
            allPosts.map((post) => (
                <li class="card">
                    <h3 class="card-h3">{post.frontmatter.title}</h3>
                    <p>{post.frontmatter.description}</p>
                    <a href={`${post.url}/`} class="card-button">En voir plus</a>
                </li>
            ))
        }
      </ul>
</Base>

<style>
    a{
        text-decoration: none;
        color: bleu;
    }
    ul{
        padding : 20px;
        list-style-type: none;
    }
    .list-cards {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(min(320px, 100%), 1fr));
        gap: 20px;
    }
</style>