.accueil{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 20px;
}

.accueil div{
  display: grid;
  grid-template-columns: (1, 1fr);
  margin-bottom: 20px;
  justify-content: center;
}

.accueil h4{
  margin-top: 3vh;
  margin-right: 2vw;
  display: flex;
  justify-content: center;
}

.accueil img{
  margin-right: 30px;
  display: inline;
  border-radius: 280px;
  width: 200px;
}

.presentation{
  display: grid;
  margin-bottom: 45px;
}

.presentation button{
  background-color: #7f00ff;
  padding: 10px 20px;
  border-radius: 15px;
  margin-top: 25px;
  justify-self: left;
}