body{
  font-size : 1.1rem;
  font-family: Arial, Helvetica, sans-serif;
  color: #eee;
  background-color: #010815;
  flex : 1 0 auto;
}

main{
  padding: 50px 20px;
}

h2 {
  margin-bottom: 15px;
  color: #9e3cff;
}

/*                           FOOTER                       */

.footer{
  text-align: center;
  border-top: solid 1px #eee;
  width: 100%;
  padding: 40px 0px;
  flex-shrink: 0;
}


/*                           HEADER                       */

.header{
  display: flex;
  justify-content: space-between;
  text-align: center;
  border-bottom: solid 1px #eee;
  max-width: 100%;
  padding: 30px 0px;
}

.header nav{
  padding-right: 5vw;
  display: inline;
}

.header a{
  color : #eee;
  padding : 0 10px;
  text-decoration: none;
}

.header a:hover{
  color : #9e3cff;
}

.header li{
  display: inline;
  list-style-type: none;
}

.header p{
  display : inline; 
  padding-left: 5vw;
}