body{
  font-size : 1.1rem;
  font-family: Arial, Helvetica, sans-serif;
  color: #222;
  background-color: #eee;
  flex : 1 0 auto;
}

.sidebar{
  height: 100%;
  width: 150px;
  position: absolute;
  left: 0;
  top: 0;
  padding-top:40px;
  background-color: lightblue;
}

.footer{
  text-align: center;
  box-shadow: 0px -5px 10px grey;
  width: 100%;
  padding: 40px 0px;
  flex-shrink: 0;
}

.header{
  text-align: center;
  box-shadow: 0px 5px 10px grey;
  max-width: 100%;
  padding: 40px 0px;
  flex-shrink: 0;
}

.header nav{
  display: inline;
}

.header p{
  display : inline; 
}