.card{
  display: grid;
  max-width: 95%;
  margin: 0 auto;
  margin-bottom: 25px;
  padding: 20px;
  background-color: #010815;
  border-radius: 10px;
  border : solid 2px #fafafa
}

.card p{
  display: block;
}

.card-link{
  color : #eee;
}

.card-button{
  margin-top: 15px;
  justify-self: right;
  background-color: #9e3cff;
  padding : 10px 20px;
  border-radius : 10px;
}

.card-button:hover{
  scale: 105%;
}

.card-h3{
  color : #9e3cff;
  margin-bottom : 10px;
}