---
import Base from '../layouts/Main.astro'
---

<Base>

<h2>Notre équipe !</h2>
<section class="accueil">
	<article>
		<img src="../../src/image/erwan.jpg" alt="">
			<div class="text">
				<h4>Erwan !</h4>
				<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab accusamus assumenda veritatis. Dicta tempore nihil, rerum quia nam illo expedita nesciunt. Cupiditate laborum doloribus repudiandae hic quae ex voluptatibus cumque.</p>
			</div>
	</article>
	<article>
		<img src="../../src/image/erwan.jpg" alt="">
		<div class="text">
			<h4>Clément !</h4>
			<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab accusamus assumenda veritatis. Dicta tempore nihil, rerum quia nam illo expedita nesciunt. Cupiditate laborum doloribus repudiandae hic quae ex voluptatibus cumque.</p>
		</div>
	</article>
	<article>
		<img src="../../src/image/erwan.jpg" alt="">
		<div class="text">
			<h4>Nathan !</h4>
			<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab accusamus assumenda veritatis. Dicta tempore nihil, rerum quia nam illo expedita nesciunt. Cupiditate laborum doloribus repudiandae hic quae ex voluptatibus cumque.</p>
		</div>
	</article>
	<article>
		<img src="../../src/image/erwan.jpg" alt="">
		<div class="text">
			<h4>Mashrour !</h4>
			<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab accusamus assumenda veritatis. Dicta tempore nihil, rerum quia nam illo expedita nesciunt. Cupiditate laborum doloribus repudiandae hic quae ex voluptatibus cumque.</p>
		</div>
	</article>
</section>


</Base>

<style>
	main{
		background-color:red;
	}
</style>