---
import Base from '../layouts/Main.astro'
title : "Accueil"
---

<Base>

<section class="presentation">
	<h2>Que faisons nous</h2>
	<p>lorem Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas iure ad cum eligendi consectetur aspernatur omnis sapiente earum quidem molestiae facere quas, velit nam optio vero, sit, ex excepturi atque.</p>
	<button><a href="/blog">Nos articles</a></button>
</section>

<h2>Notre équipe !</h2>
<section class="accueil">
	<div>
		<img src="../../src/image/erwan.jpg" alt="">
		<h4>Erwan !</h4>
	</div>
	<div>
		<img src="../../src/image/erwan.jpg" alt="">
		<h4>Clément !</h4>
	</div>
	<div>
		<img src="../../src/image/erwan.jpg" alt="">
		<h4>Nathan !</h4>
	</div>
	<div>
		<img src="../../src/image/erwan.jpg" alt="">
		<h4>Mashrour !</h4>
	</div>
</section>


</Base>
