---
import Base from '../layouts/Main.astro'
---

<Base>

<h1>EKP</h1>
<p>BIenvenue sur notre blog, retrouvez nos supers articles bande de salope.</p>

</Base>

<style>
	body{
		color: red;
	}
</style>