---
import '../styles/global.css';
<<<<<<< HEAD
import Header from "../components/Header.astro"
import Footer from "../components/Footer.astro"
=======
import Header from '../components/header.astro';
import Footer from '../components/Footer.astro';

>>>>>>> fd687b0aaa8e02961dd6ae0460b673e06d2bafc7
---

<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

<<<<<<< HEAD
=======
	<Header />
>>>>>>> fd687b0aaa8e02961dd6ae0460b673e06d2bafc7

  <main>
		<slot />
  </main>

<<<<<<< HEAD
=======
		<Footer />
>>>>>>> fd687b0aaa8e02961dd6ae0460b673e06d2bafc7

</body>
</html>